@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #00000000;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Staatliches', cursive; */
  font-family: 'ZCOOL KuaiLe',
    cursive;
  background: #403A3E;
  background: -webkit-linear-gradient(to right, #BE5869, #403A3E);
  background: linear-gradient(to right, #BE5869, #403A3E);
}

.navebar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  color: white;
  position: relative;
}

.navebar img {
  z-index: -11;
}

.navebar h2 {
  flex: 3;
  margin: auto;
  padding: 0px 30px;
}

.navebar li {
  display: inline;
  padding: 20px;
  cursor: pointer;
}

.navebar li a {
  color: white;
}

.nav-btn {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

/* // Home // */
.container {
  padding-top: 10vh;
  width: 80%;
  margin: auto;
  font-size: 1.8em;
  text-align: center;
  color: white;
  opacity: 80%;
}

.container button {
  padding: 20px;
  border-radius: 20px;
  font-family: 'ZCOOL KuaiLe',
    cursive;
  font-size: 20px;
  color: white;
  background-color: rgba(112, 85, 85, 0);
  border: 3px solid rgb(36, 36, 36);
  box-shadow: 4px 4px 10px black;
}

.container h1 {
  line-height: 1.4em;
}

.container button a {
  color: white;
  text-decoration: none;
}

.container button:hover {
  border: 3px solid black;
  color: black;
  background-color: rgba(238, 238, 238, 0);
  cursor: pointer;
}

/* // Game // */
.game {
  padding-top: 5vh;
  width: 80%;
  margin: auto;
  font-size: 1.8em;
  text-align: center;
  color: white;
  opacity: 80%;
}

#coding-block {
  min-height: 500px;
  width: 90%;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  border: 8px solid black;
  box-shadow: 2px 2px 8px black;
  background-color: white;
}

#coding-block:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 10px black;
}

.gist {
  max-height: 250px;
  border: none;
}

.gist-meta {
  display: none;
}

.gist-file {
  border: none;
}

article {
  border: none;
}

article h2 {
  display: none;
}

.btns {
  display: inline;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin: 20px;
  background-color: rgb(208, 212, 208);
  font-family: 'ZCOOL KuaiLe',
    cursive;
}

.green {
  color: green;
}

.btn:hover {
  box-shadow: 3px 2px 8px rgb(255, 255, 255);
  cursor: pointer;
  color: #c7108a;
  transform: scale(1.1);
}